<h1>UserMailer#account_activation</h1>

<p>
  <%= @greeting %>, to activate account follow this link:
  <%= link_to 'Activate', edit_account_activation_url(@user.activation_digest, email: @user.email) %>
</p>
