<h1>Notifications</h1>
<div id='notifications'>
  <% if @notifications_hash.empty? %>
    <p> You have no notifications yet. </p>
  <% else %>
    <%= render 'notifications', notifications_hash: @notifications_hash%>
  <% end %>
</div>
