<% if option && option.errors.any? %>
    <div>
      <%= pluralize(option.errors.count, 'error')%>  prohibited this poll from being saved 
      <ul>
      <% option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>