<% unless flash.nil? %>
  <div id='flash_messages'>
    <% flash.each do |type,msg| %>
      <div class='alert alert-dismissible <%= bootstrap_class_for(type) %> fade in text-center'>
        <big><%= msg %></big>
        <%= button_tag 'x', class: "close", data: { dismiss: "alert"} %>
      </div>
    <% end %>
  </div>
<% end %>