<% if @already_voted %>
    <h2> Your choice has been accepted </h2>
    <%= link_to 'see results', result_poll_path %>
<% else %>
  <div id="choice" class="row container">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
      <div id="make-choice">
        <button id="make-choice-button">
          <div id="make">make</div>
          <span class="glyphicon glyphicon-ok-circle"> </span>
          <div id="choice">choice</div>
        </button>
      </div>
    </div>
  </div>
<% end %>
