<div id = "poll_block">

  <div id = 'poll_errors_block'>
    <% render 'errors', poll: poll %>
  </div>
  
  <div id='title_block'>
    Title: <%= poll.title %>
  </div>

  <div id='status_block'>
    <%= render 'polls/status', poll: poll %>
  </div>

  <%= link_to 'edit', edit_poll_path( poll ), remote: true %>
  <ul>
    <div id = "options_block">
      <%= render poll.options %>
    </div>
  </ul>
</div>  