= fields_for 'poll[options][][]', option do |field|
  .option-fields
    .option-inputs
      = field.text_field :title, placeholder: 'option title', class: "form-control"
      = field.text_area  :description, rows: 3, placeholder: 'option description', class: "form-control"
    .option-delete-button
      = button_tag 'X', type: 'button', onclick: 'this.parentElement.parentElement.remove()', class: "btn btn-danger btn-block"