  <div class="container panel panel-default poll-item">
    <div class="row">
	    <div class='col-xs-1' id='<%= dom_id(poll.rating) %>'>
	      <%= render 'shared/rating', rating: poll.rating %>
	    </div>

	    <div class ='col-xs-6'>
	      <%= link_to "#{poll.title}", poll_path(poll)%>
	    </div>
	  </div>
  </div>