<head>
  <p> Poll index page </p>
</head>

<body>
<div id='polls_list'>
<ul>
  <% @polls.each do |poll| %>
    <li>
      <%= link_to "#{poll.title}", poll_path(poll)%>
      <%= link_to "edit poll", edit_poll_path(poll)%>
      <%= link_to "delete poll", poll_path(poll), method: :delete %>
    </li>
  <% end %>
</ul>
</div>
<%= link_to 'new poll', new_poll_path %>
</body>