<head>
  <p> Poll index page </p>
</head>

<body>
<ul>
  <% @polls.each do |poll| %>
    <li><%= link_to "#{poll.title}", poll_path(poll)%></li>
  <% end %>
</ul>
<%= link_to 'new poll', new_poll_path %>
</body>