<h1> Poll result </h1>

<% if @already_voted %>
  <% @poll.options.each.with_index do |option, i|%>
    option <%= option.title %> weight is <%= @poll.current_state[i] %> <br>
  <% end %>  
<% else %>
  You can see results after you make your choice.
<% end %>