<%= render @poll %>
<div id='choise'>
  <% if @already_voted %>
    <h2> Your choise already accepted </h2>
  <% end %>
  <%= button_to 'make choise', "javascript:makeChoise()" unless @already_voted %>
</div>
<%= link_to 'back', :back %>
