@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "./*";

body {
background: url('background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

.mirror {
  transform: scale(-1, 1);
}

.field-with-error {
  border-left: 1vmin solid #d9534f;
  background-color: rgba(217, 83, 79, 0.17);
}

.clickable:hover {
  cursor: pointer;
}

.file-input input[type=file] {
  display: none;
}

.file-label {
  color: white;
  text-align: center;
  border: 1px solid #ccc;
}
