@import "bootstrap-sprockets";
@import "bootstrap";
@import "./*";

body {
background: url('background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clicable:hover {
  cursor: pointer;
}

.file-input input[type=file] {
  display: none;
}

.file-label {
  color: white;
  text-align: center;
  border: 1px solid #ccc;
}
