#remember-me-button {
  position: relative;
  background: rgba(128,128,128, .3);
  width: 95%;
  margin: 0 2%;
}

#remember-me-button input {display:none;}

#remember-me-button p {
  margin: 1% 5%;
  color: white;
}

#checked-option {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  height: 100%;
  width: 50%;
  border-left: 0;
  background: rgba(217, 83, 79, 0.34);
  border-right:  3px solid #d9534f;
  border-bottom: 3px solid #d9534f;
  border-radius: 0 0 4px 0;
  transition: .7s;
}

input:checked + #checked-option {
  left: 0;
  background: rgba(92, 184, 92, 0.34);
  border-bottom: 3px solid #5cb85c;
  border-left: 3px solid #5cb85c;
  border-right: 0;
  border-radius: 0 0 0 4px;
}
