// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  margin-top: 1em;
  margin-left: 3em;
  background: rgba(51, 122, 183, 0.05);
  position: relative;
}

.comment .comment {
	margin-right: 0;
}

.comment .comment .comment .comment .comment .comment{
  margin-left: 0;
}

.comment-rating {
	display: inline-block;
	vertical-align:top;
	margin: 1vmin;
}

.comment-body {
	background-color: white;
  box-shadow: 3px 3px 23px;
  display: inline-block;
  padding: 2vmin 1vmin 3vmin 3vmin;
  width: 90%;
  min-height: 150px;
  position: relative;
}

.comment-links {
	margin-top: 2vmin;
	position: absolute;
  bottom: 1vmin;
}

.reply-links {
	position: absolute;
  bottom: 1vmin;
  left: 90%;
}

.cancel-link a{
  display: none;
}

.reply {
  position: static;
  display: none;
}

.new-comment input[type='submit'] {
  font-size: 3vmin;
  min-height: 5vmin;
}

.new-comment {
  margin: 3em;
}

.new-comment textarea{
  min-height: 15vmin;
  background-color: #f1f1f1;
}

.comment label.hide-replys {
  position: absolute;
  left: 2vmin;
  top: 10vmin;
  font-size: 2vmin;
}

.comment input.hide-branch {
  display: none;
}

.comment input.hide-branch + label .glyphicon-plus {
  display: none;
}

.comment input.hide-branch:checked + label .glyphicon-minus {
  display: none;
}

.comment input.hide-branch:checked + label .glyphicon-plus {
  display: inline-block;
}

.comment input.hide-branch:checked ~ .replys {
  display: none;
}
