// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  background-color: white;
  box-shadow: 3px 3px 23px;
  margin-top: 1em;
  margin-left: 50px;
  padding-left: 3em;
}

.comment .comment .comment .comment {
  margin-left: 0;
  padding-left: 0;
}

.bg-gray>.comment {
  background-color: #ccc;
}