// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  margin-top: 1em;
  margin-left: 3em;
}

.comment .comment {
	margin-right: 0;
}

.comment .comment .comment .comment {
  
}

.comment-rating {
	display: inline-block;
	vertical-align:top;
	margin: 1vmin;
}

.comment-body {
	background-color: white;
  box-shadow: 3px 3px 23px;
  display: inline-block;
  padding: 2vmin 1vmin 3vmin 3vmin;
  width: 90%;
  min-height: 150px;
  position: relative;
}

.comment-links {
	margin-top: 2vmin;
	position: absolute;
  bottom: 1vmin;
}

.reply {
	position: absolute;
  bottom: 1vmin;
  left: 90%;
}
