#status-header {
  margin-top: 0;
  padding: 2vmin;
  color: white;
  font-weight: bold;
  background-color: #cccccc;
}

#votation-progress-lost {
  padding:    1vmin;
  margin-top: 3vmin;
}

#votation-progress-lost h4 {
  line-height: 5vmin;
}

#votation-progress-lost h4 .glyphicon {
  font-size: 5vmin;
}

#undo-change-status, #status-check-box {
  display: none;
}

#status-check-box:checked~#undo-change-status {
  display: block;
}

#status-check-box:checked+#change-status {
  display: none;
}

.delete-poll-image-btn {
  width: 8vmin;
  background-color: #d9534f;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vmin;
}

.poll-image {
  display: flex;
  margin: 1vmin;
  position: relative;
}

.poll-images {
  display: flex;
  flex-wrap: wrap;
}

.undo-icon {
  display: none;
  z-index: 1;
}

.deleted-image {
  background-color: rgba(0, 0, 0, 0.5);
  width:  100%;
  height: 100%;
  left: 0;
  position: absolute;
  display: none;
}

.delete-image-checkbox:checked ~ .deleted-image {
  display: block;
}

.delete-image-checkbox:checked ~ .undo-icon {
  display: block;
}

.delete-image-checkbox:checked ~ .delete-icon {
  display: none;
}