// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-preview {
	max-width: 25vmin;
}

.form-with-image-upload div.dropzone {
  width: 100%;
  height: 15vmin;
  background-color: #f3f3f3;
  margin-top: 2vmin;
  outline: dashed #bcbcbc;
  outline-offset: -2vmin;
}

.dropzone p {
  text-align: center;
  line-height: 15vmin;
  font-size: 4vmin;
  color: #bcbcbc;
}