// Place all the styles related to the Polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.poll-item {
	margin-left: 10%;
  padding: 3%;
}

.poll-element {
	border-bottom: 4px solid black;
}

.poll {
	background-color: white;
	margin-left: 50px;
	padding: 50px;
	box-shadow: 3px 3px 23px;
}

#about-poll {
	margin-top: 30px;
}