// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-invisible {
  background: transparent;
  border: none;
  padding: none;
  outline:none;
}

.btn-invisible:disabled {
  color: gray;
}

.rating-counter {
  border: 1px solid black;
  max-width: 50px;
  min-height: 38px;
}

.rating-button {
  display: table-cell;
  font-size: 35px;
}

