// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  width: 100%;
  height: 100%;
}

.user-input {
  background: rgba(0,51,153, .3);
  align-items: center;
  padding: 5%;
  margin: 3px;
  border: 4px solid white;
  border-radius: 4px;
}

.row.equal {
  display: flex;
}

.equal > div[class*='col-'] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}