// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  width: 100%;
  height: 100%;
}

.user-input {
  background: rgba(128,128,128, .3);
  align-items: center;
  padding: 5%;
  margin: 3px;
  border-radius: 4px;
  transition: all 0.7s ease;
}

.user-input-active {
  transform: scale(1.1);
  border-color: #337ab7;
  box-shadow: 0 0 1rem #337ab7;
}

.user-input-error {
  border-color: red;
  box-shadow: 0 0 1rem red;
}

.user-input-error::after{
  content: '*Cannot be blank!';
  color: #B22222;
}

.row.equal {
  display: flex;
}

.equal > div[class*='col-'] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}