<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Vote', root_path, { class: "navbar-brand"} %>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"> <%= link_to 'Ready polls', ready_polls_path %> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= render_account_links %>
      </ul>
    </div>
  </nav>
</header>
