<li>
  <%= link_to new_user_path do %>
    <span class="glyphicon glyphicon-user"></span>
    Sign Up
  <% end %>
</li>
<li>
  <%= link_to login_path do %>
    <span class="glyphicon glyphicon-log-in"></span>
    Login
  <% end %>
</li>
